<section class="greeting-section">
    <%if(locals.user){%>
        <h1>Hi <%=locals.user.email%>. Welcome!</h1>
        <a href="/user/logout-user">Sign Out</a>
    <%}else{%>
        <h1>Hi google <%=user.email%>. Welcome!</h1>
        <a href="/user/logout-user">Sign Out</a>
    <%}%>
</section>