<link rel="stylesheet" href="/css/common.css">

<section class="section">
    <h1 class="heading">Reset Password</h1>
    <form class="form" action="/reset-password/<%= token %>" method="POST">
      <div class="input-container">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button class="button-box" type="submit">Reset Password</button>
    </form>
  </section>