<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/google.css">

<section class="section">
    <h1 class="heading">Sign Up</h1>
    <form class="form" action="/user/signup" method="post">

        <div class="input-container">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="input-container">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>

        <div class="container justify-between">
            <a class="button-box" href="/user/signin">Sign In</a>
            <button class="button-box" type="submit">Submit</button>
        </div>

    </form> 

    
    <p class="google-container">
        <i class="fa-brands fa-google google-icon"></i>
        <a href="/user/auth/google" class="google-text"> Continue with Google</a>
    </p>

</section>