<link rel="stylesheet" href="/css/common.css">

<section class="signin-section">
    <h1 class="signin-heading">Sign In</h1>
    <form class="signin-form" action="/create-session" method="post">

        <div class="input-container">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="container justify-between">
            <a class="button-box" href="/signup">Sign Up</a>
            <button class="button-box" type="submit">Submit</button>
        </div>

        <div class="container"><a class="link" href="/renderForgotPassword">Forgot password?</a></div>
    </form> 

    <p>
        <a href="/auth/google">Sign In with Google</a>
    </p>

</section>