<link rel="stylesheet" href="/css/sign.css">

<section class="signin-section">
    <h1 class="signin-heading">Sign Up</h1>
    <form class="signin-form" action="/signin" method="post">

        <div class="input-container">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="input-container">
            <label for="password">Confirm password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="container justify-between">
            <a class="button-box" href="/signin">Sign In</a>
            <button class="button-box" type="submit">Submit</button>
        </div>

    </form> 

</section>